<footer class="footer mt-200">
    <div class="col-md-12 mt-5 navbar navbar-expand-lg navbar-light bg-redfb"></div>
    <div class="col-md-12 text-white bg-blackfb py-5 text-center">
    <p>© Copyright FrenchBaguettes</p>
    <div id="scrollUp">
        <a href="#top"><img src="/img/to_top.png"/></a>
    </div>
</footer>