{% extends 'base.html.twig' %}

{% block title %}
    Bienvue dans le four à baguettes !
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur FrenchBaguettes !</h1>
        <p class="lead">Nous vous proposons un choix multiple de Goodies et T-shirt pour soutenir la cause des batteurs en folie !</p>
        <hr class="my-4">
        <p>Vous êtes batteur ? Vous souhaitez montrer votre passion ? leurs dire "Hey ! J'suis batteur !j'te fais un drum solo ? ou tu préfére un duo ?".</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir le catalogue !</a>
        </p>
    </div>

    <h2 class="h1 mt-3 mb-4">Notre top du moment !</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    Le Mug ! <strong>29&euro; /lot de 2</strong> <br>
                    <small>Pas encore noté</small>
                </div>    

                <img src="http://placehold.it/1000x400" alt="Image du mug"
                style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                        Mug 100% porcelaine.
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ex at laborum illum corrupti animi fugiat numquam amet pariatur aspernatur.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    Le Mug ! <strong>29&euro; /lot de 2</strong> <br>
                    <small>Pas encore noté</small>
                </div>    

                <img src="http://placehold.it/1000x400" alt="Image du mug"
                style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                        Mug 100% porcelaine.
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ex at laborum illum corrupti animi fugiat numquam amet pariatur aspernatur.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    Le Mug ! <strong>29&euro; /lot de 2</strong> <br>
                    <small>Pas encore noté</small>
                </div>    

                <img src="http://placehold.it/1000x400" alt="Image du mug"
                style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                        Mug 100% porcelaine.
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ex at laborum illum corrupti animi fugiat numquam amet pariatur aspernatur.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos favoris !</h2>

    
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">La canette Termos</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="image de la canette termos"
                        class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, odit.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">La canette Termos</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="image de la canette termos"
                        class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, odit.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}