{% extends 'base.html.twig' %}

{% block title %}
    Bienvue dans le four à baguettes !
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3 bg-white casewhite" >
        <h1 class="display-4" >Bienvenue sur FrenchBaguettes !!</h1>
        <p class="lead">Nous vous proposons un choix multiple de Goodies et T-shirt pour soutenir la cause des batteurs en folie !</p>
        <hr class="hrfb my-4">
        <p>Vous êtes batteur ? Vous souhaitez montrer votre passion ? leurs dire "Hey ! J'suis batteur !j'te fais un drum solo ? ou tu préfére un duo ?".</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('ads_index' )}}" role="button">Voir le catalogue !</a>
        </p>
    </div>

    <h2 class="h1 my-5">Nos favoris !</h2>
    
    <div class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="http://localhost:8000/ads/le-t-shirt-taille-unique-magique-french-baguettes">
                    <img src="/img/02_Man.png" class="d-block w-100 carouselfirst" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="http://localhost:8000/ads/cannette-de-soda-reutilisable-thermos-inoxydable">
                    <img src="/img/free soda can.png" class="d-block w-100 carouselfirst" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="http://localhost:8000/ads/le-mug">
                    <img src="/img/free_mug_mock-up.png" class="d-block w-100 carouselfirst" alt="...">
                </a>
            </div>
        </div>
    </div>  

    <h2 class="h1 my-5">Nos Nouveautés !</h2>

    <div class="row">
        {% for ad in lastProducts %}
            {% if loop.index <= 4 %}
                <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    {% include 'ad/_ad.html.twig' %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
       
    <div class="container mb-5 mt-5"></div>
</div>
{% endblock %}